workDir = 'data/nextflow'

conda {
  enabled = true
  useMicromamba = true
}

executor{
  queueSize = 200
}

process {
     withLabel: plot {
        executor = 'slurm'
        cpus = 8
        memory = '32 GB'
        queue = 'icelake'
        time = '30m'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
     }
     withLabel: quasar {
        errorStrategy = 'retry'
        executor = 'slurm'
        cpus = 2
        memory = 8.GB
        queue = 'icelake'
        time = 90.m
        maxRetries = { task.exitStatus == 140 ? 4 : 1 }
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
     withLabel: jaxqtl {
        executor = 'slurm'
        cpus = 10
        memory = '32 GB'
        queue = 'icelake'
        time = '3h'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
     withLabel: tensorqtl {
        executor = 'slurm'
        cpus = 10
        memory = '32 GB'
        queue = 'icelake'
        time = '2h'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
    withLabel: tensorqtl_cis {
        executor = 'slurm'
        cpus = 10
        memory = '32 GB'
        queue = 'icelake'
        time = '6h'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
     withLabel: apex {
        executor = 'slurm'
        cpus = 5
        memory = '16 GB'
        queue = 'icelake'
        time = '1h'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
     withLabel: tiny {
        executor = 'slurm'
        cpus = 10
        memory = '32 GB'
        queue = 'icelake'
        time = '1h'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
    withLabel: small {
        executor = 'slurm'
        cpus = 8
        memory = '64 GB'
        queue = 'icelake'
        time = '1h'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
    withLabel: large {
        executor = 'slurm'
        cpus = 16
        memory = '128 GB'
        queue = 'icelake'
        time = '1h'
        clusterOptions = '-A mrc-bsu-sl2-cpu'
    }
}